<html>

  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="/css/style.css" />
    <script src="/socket.io/socket.io.js"></script>
  </head>

  <body>
    <header>
      <nav>
        <ul>
          <li><a href="/">Inicio</a></li>
          <li><a href="/realtimeproducts">Productos en tiempo real</a></li>
        </ul>
      </nav>
    </header>
    <main> {{{body}}} </main>
  </body>

</html>